<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 <img th:src="${problemFilePath}">

<form method="post">
    <div class="form-group">
        <label> 정답 <input type="text" class="form-control" name="answer"></label>
        <input type="submit"/>
    </div>
</form>

 <div class="col">
     <button class="w-100 btn btn-secondary btn-lg"
             th:onclick="|location.href='@{/problems}'|"
             type="button">목록으로</button>
 </div>
</body>
</html>